*{
    padding: 0;
    margin: 0;
   
}
.box{
    background:#c0392b ;
    padding: 2px;
}
.header{
    background-color: #777;
}
.ul1{
    background: url(./pattern.gif);
}

.menu1 > ul > li {
	display: inline-block;
	position: relative;
}

.menu1 > ul > li > a {
	text-transform: uppercase;
	font-family: 'Bebas Neue', cursive;
	color: #FFF;
    background-image: url(./pattern.gif);
	display: block;
	line-height: 60px;
	padding: 1px 103.1px;
	letter-spacing: 1px;
	font-size: 25px;
	-webkit-transition: .2s all linear;
	-moz-transition: .2s all linear;
	-o-transition: .2s all linear;
	transition: .2s all linear;
    text-decoration: none;
}
.menu1 > li.active a, .menu1 > ul > li a:hover {
    color: #000;
    background: #fff;
}
@media only screen and (max-width: 1025px) {
	.sza{
		width:100%;
        padding-right: 0%;
        padding-left: 0%;
	}	
    .nav1 {
        font-size: 95px;
        color: white;
        height: 179px;
        text-align: center;
        padding-top: 34px;
        padding-bottom: 37px;
        /* line-height: 170px; */
        font-family: 'Bebas Neue', cursive;
        background: url(./pattern.gif);
    }
}
.nav1 {
    font-size: 95px;
    color: white;
    /* height: 130px; */
    text-align: center;
    /* padding-top: 50px; */
    padding-bottom: 40px;
    /* line-height: 170px; */
    font-family: 'Bebas Neue', cursive;
    background: url(./pattern.gif);
}

